<ul>
    <li><a class="nav-home" href="/js-kernel/">Home</a></li>
    <li><a class="nav-installation" href="/js-kernel/wiki/installation">Installation</a></li>
    <li><a class="nav-getting-started" href="/js-kernel/wiki/getting-started">Getting started</a></li>
    <li><a class="nav-how-to-create-a-module" href="/js-kernel/wiki/how-to-create-a-module">How to create a module</a></li>
    <li><a class="nav-loader" href="/js-kernel/wiki/loader">Loader</a></li>
    <li><a target="_blank" href="https://github.com/hw-core/js-kernel">Repository</a></li>
</ul>